{% extends "BASE_documento.html" %}
    {% block header %}
        <style type='text/css'>
		.serif{
            font-family: serif;
            }
            .texto {
            margin: 0;
            }
            .negrito {
            font-weight: 700
            }
            .negrito-2 {
            font-weight: 600
            }
            .sublinhar{
            text-decoration: underline;
            }
            .center {
            text-align: center
            }
            .esquerda {
            text-align: right;
            }
            .overline {
            text-decoration: overline;
            }
            .quebra_linha{
            display: block;
            }
            /*configurações de fonts*/
            .font-12 {
            font-size: 12px;
            }
            .font-17 {
            font-size: 17px;
            }
            .font-24 {
            font-size: 24px;
            }
            .font-36 {
            font-size: 36px;
            }
            .font-40 {
            font-size: 40px;
            }
            /*confifurações de margin*/
            .padding_top_35{
            padding-top:35px;
            }
            .margin_bottom_35{
            margin-bottom: 35px;
            }
            .altura_linhas_19{
            line-height: 19px;
            }
            .altura_linhas_35{
            line-height: 35px;
            }
            .altura_linhas_25{
            line-height: 25px;
            }
			.legendtitulo{
			text-align:center;
			
			}
			.justificativa{
			width:11cm;
			}
			.fieldset{
			border:1px solid #0000CD;
			margin: 0px auto;
			width:17cm;
			height:18cm;
			}
			
			h2{
			text-align:center;
			}
			
		
		</style>
		{% endblock %}	

{% block body %}
	
    <form action="{{action}}" method="post">
		<fieldset class="fieldset  font-24">
            <h2><i>Formulário obrigatório de {{operacao}}</i></h2><hr><br>
			<br><input type="checkbox" name="op1" value="Desempenho insatisfatório"> Desempenho insatisfatório
			<br><input type="checkbox" name="op2" value="Ausência frequente"> Ausência frequente
			<br><input type="checkbox" name="op3" value="Por falecimento"> Por falecimento
			<br><input type="checkbox" name="op4" value="Bolsista adquiriu vínculo empregatício"> Bolsista adquiriu vínculo empregatício
			<br><input type="checkbox" name="op5" value="Cancelamento por término da graduação"> Cancelamento por término da graduação
			<br><input type="checkbox" name="op6" value="Bolsista obteve concessão de outra Agência/Pró-Reitoria"> Bolsista obteve concessão de outra Agência/Pró-Reitoria
			<br><input type="checkbox" name="op7" value="Afastamento do(a) orientador(a)"> Afastamento do(a) orientador(a)
			<br>Outro: <input class="justificativa" type="text" name="op8"> 
            <input type="hidden" id="id_indicacao" name="id_indicacao" value="{{id_indicacao}}">
			<br><br><br><br><center>
			<button type="button" style="width:5cm; height:0.7cm; margin-right:2cm; background-color:red;" name="cancelar"><b><i>Cancelar</b></i></button>
			<button type="submit" style="width:5cm; height:0.7cm; background-color:green;" name="enviar"><b><i>Enviar</b></i></button>
			</center>
		
		</fieldset>		
	</form>		
{% endblock %}								


