<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>CONVITE PARA AVALIAÇÃO DE PROJETO DE PESQUISA</title>
  </head>
  <body>
    <h1 style="text-align: center;"><b>CONVITE PARA AVALIAÇÃO DE PROJETO DE PESQUISA</b></h1>
    <h2>{{nome_longo}}</h2>
    <hr>
      <p>
        Prezado(a) senhor(a) pesquisador(a), <BR>Gostaríamos de convida-lo(a) para avaliação do projeto de pesquisa e/ou plano(s) 
        de trabalho descrito(s) abaixo.<BR> Os arquivos relativos ao projeto podem ser acessados no link informado 
        abaixo.
      </p>
      <hr>
      
      <p>
        Em caso de indisponibilidade para realizar a avaliação, favor clicar no link informado abaixo para
        evitar novos e-mails de convite. 
        <h4>CLIQUE NO LINK A SEGUIR EM CASO DE INDISPONIBILIDADE: <a href="{{link_recusa}}">NÃO ESTOU DISPONÍVEL PARA REALIZAR A AVALIAÇÃO</a></h4>
      </p>
      <p>
        <h3>Dados do trabalho</h3>
        <ul>
          <li><b>Modalidade</b>: INICIAÇÃO CIENTÍFICA E TECNOLÓGICA - PIBIC/PIBITI</li>
          <li><b>Ficha de avaliação e arquivos do projeto</b>: <a href="{{link}}">FORMULÁRIO DE AVALIAÇÃO DE PROJETO</a></li>
          <li>Prazo para avaliação: <h4>{{deadline}}</h4></li>
          <li>Título do trabalho: <h4>{{titulo}}</h4></li>
          <li><b>Resumo</b>: {{resumo}}</li>
      </ul>
      </p>

      <hr>
      <CENTER><h3>ESTA MENSAGEM FOI ENVIADA AUTOMATICAMENTE. NÃO RESPONDA ESTE E-MAIL.</h3></CENTER>
      <hr>
    <p>Quaisquer dúvidas, enviar e-mail para atendimento.prpi@ufca.edu.br.</p>
    <h2 style="text-align: center;"><a href="https://prpi.ufca.edu.br">https://prpi.ufca.edu.br</a></h2>
    <p><br>
    </p>
    <p><br>
    </p>
  </body>
</html>
