{% extends "BASE_relatorio.html" %}

{% block title %}
Página administrativa
{% endblock %}

{% block content %}
<center><h1>Editais</h1></center>
<table>
  <th>Edital</th><th>Lista de Bolsistas</th><th>Lista de Voluntários</th><th>Situação das indicações</th><th>Desligamentos e Substituições</TH><th>Estatísticas</th><th>Resultados</th>
    {% for edital in editais %}
        <tr>
            <td>{{edital[1]}} </td>
            <td><a href="/pesquisa/indicacoes?edital={{edital[0]}}&tipo=1">BOLSISTAS</a></td>
            <td><a href="/pesquisa/indicacoes?edital={{edital[0]}}&tipo=0">VOLUNTÁRIOS</a></td>
            <td><a href="/pesquisa/situacaoIndicacoes?edital={{edital[0]}}">Situação das indicações</a></td>
            <td><a href="/pesquisa/substituicoes?id={{edital[0]}}">DESLIGAMENTO e SUBSTITUIÇÕES</a></td>
            <td><a href="/pesquisa/editalProjeto?edital={{edital[0]}}">Estatísticas</a></td>
            <td><a href="/pesquisa/editalProjeto?edital={{edital[0]}}&resultado=1">Resultados</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
