<!DOCTYPE html>
<html>
  <head>
	  <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

p.cnpq {
  color: green;
}

p.ufca {
  color: orange;
}

</style>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Lista de indicações com possíveis problemas</title>
  </head>
  <body>
    <h1>Lista de indicações com possíveis problemas</h1>
    <h2>A partir do código do edital: {{edital}}</h2>
    <h2>Ano referência: {{ano}}</h2>
    <p style="color: black; background-color: #f0f0f0;">
        Observe que quando um discente é indicado várias vezes para um mesmo código de projeto,
        possivelmente trata-se de duplicidade de indicação em um mesmo projeto. Um possível problema
        acontece quando um mesmo discente é indicado para diferentes projetos (ids de projetos diferentes)
    </p>
    <table>
    <th>Editais</th>
    <th style="color: white;background-color: #0000ff;">***IDs dos projetos***</th>
    <th>Vínculo</th>
    <th>Fomento</th>
    <th>Total de indicações</th>
    <th>Nome do indicado</th>
    <th>IDs do indicado</th>
    <th>Orientadores</th>
    <th>Titulos</th>

    {% for indicacao in linhas %}
    <tr>
      <td>{{indicacao[0]}}</td>
      <td>{{indicacao[1]}}</td>
      <td>{{indicacao[2]}}</td>
      <td>{{indicacao[3]}}</td>
      <td>{{indicacao[4]}}</td>
      <td>{{indicacao[5]}}</td>
      <td>{{indicacao[6]}}</td>
      <td>{{indicacao[8]}}</td>
      <td>{{indicacao[7]}}</td>
    </tr>
    {%endfor%}

    </table>
    <h3>{{total}}</h3>
  </body>
</html>