<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Lembrete de Frequência</title>
  </head>
  <body>
    <h1 style="text-align: center;"><b>LEMBRETE DE ENVIO DE FREQUÊNCIA</b></h1>

    <hr>
    <p>***Recurso experimental*** - em fase de testes...</p>

    (E-MAIL AUTOMÁTICO - NÃO RESPONDA ESTE E-MAIL) <BR>
    <hr>
      <p>
      Prezado(a) orientador(a), <BR>
      Gostaríamos de lembrá-lo(a) sobre o envio da(s) frequência(s) do(a)(s) bolsista(s) referente ao mês anterior, com prazo até o último dia do mês corrente. O procedimento é inteiramente eletrônico, através de preenchimento de formulário
      disponível na plataforma Yoko (https://sci01-ter-jne.ufca.edu.br/pesquisa/meusProjetos). Todos os(as) bolsistas e voluntários(as) devem ter a frequência registrada pelo orientador, evitando pendências junto a PRPI.
      </p>
      <p> Ficamos a disposição para eventuais dúvidas,</p>
      <p>
          Atenciosamente,
      </p>
      <p>
      Coordenadoria de Pesquisa/UFCA</p>

  </body>
</html>
