<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Lembrete de Frequência</title>
  </head>
  <body>
    <h1 style="text-align: center;"><b>LEMBRETE DE ENVIO DE FREQUÊNCIA</b></h1>

    <hr>
    <p style='background-color: cyan;font-weight: bold;text-align: center;'>(E-MAIL AUTOMÁTICO - NÃO RESPONDA ESTE E-MAIL)</p>
    <hr>
      <p>
      Prezado(a) orientador(a), <BR>
      Gostaríamos de lembrá-lo(a) sobre o envio da(s) frequência(s) do(a)(s) bolsista(s) listados
      abaixo, referente ao mês <b>{{mes}}</b> de <b>{{ano}}</b>, com prazo até o último dia do mês corrente. </p>
      <p>
      O procedimento é digital, através de preenchimento de formulário disponível na URL abaixo.
      </p>
      <p style='background-color: yellow;font-weight: bold;text-align: center;'>
        Todos os(as) bolsistas e voluntários(as) devem 
      ter a frequência registrada pelo orientador.
      </p>
      <hr>
      <h3>Dados de acesso</h3>
      <p>
        <ul>
            <li>URL: <a href='https://sci01-ter-jne.ufca.edu.br/pesquisa/meusProjetos?siape={{usuario}}&senha={{senha}}'>https://sci01-ter-jne.ufca.edu.br/pesquisa/meusProjetos</a></li>
            <li>Usuário: {{usuario}}</li>
            <li>Senha: {{senha}}</li>
        </ul>
      </p>
      <hr>
      <h3>Período</h3>
      <p>
        <h4>{{mes}} de {{ano}}</h4>
      </p>
      <h3>Discente(s)</h3>
      <p>
        <ul>
            {% for nome in nomes %}
              <li>{{nome}}</li>
            {%endfor%}
        </ul>
      </p>
      <hr>
      <p> Ficamos a disposição para eventuais dúvidas,</p>
      <p>
          Atenciosamente,
      </p>
      <p>
      Coordenadoria de Pesquisa/UFCA</p>

  </body>
</html>
