<!DOCTYPE html>
<html>
  <head>
	  <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Projetos - Orientadores</title>
  </head>
  <body>
    <h1><b>Projetos do orientador</b></h1>
    *Caso seu projeto não esteja listado abaixo, favor entrar em contato com a Coordenadoria de Pesquisa/PRPI.
    <table>
    <th>Id</th><th>Orientador</th><th>Projeto</th>
    <p>{% for linha in listaProjetos %}</p>
    
    <tr>	
    <td>{{ linha[0] }}</td><td>{{ linha[1] }}</td><td><pre><span class="cp"><a href="/pesquisa/orientadorDeclaracao?idProjeto={{ linha[0] }}">{{ linha[2] }}</a><br></span></pre></td>
    </tr>
    
    <p><span class="cp">{% endfor %}</span></p>
    
    
    </table>
    
  </body>
</html>
