app/teste_cnpq.py
docker-compose.yml
env/
.env
cicd.sh
cron
*.conf
*directory*
*.ini
cron.avaliacao.sh
*.ini
*.log
*.gz
*.tar.gz
*.zip
*.pass
*.sql
*.sh
*.pdf
*.xml
mysql/*
home/perazzo/teste.py
*.bak
*.pyc
home/perazzo/pesquisa/static/plots/*.png
cron.frequencia.sh
