app/*.gpg
.vscode/
*.gpg
*.enc
*.key
app/*.json
app/submissoes/*.gpg
app/submissoes/*.pdf
app/docs_indicacoes/*.gpg
app/docs_indicacoes/*EXTRATO*
app/docs_indicacoes/*RG_CPF*
app/static/files
app/teste_cnpq.py
env/
.env
cicd.sh
cron
*.conf
*directory*
*.ini
cron.avaliacao.sh
*.ini
*.log
*.gz
*.tar.gz
*.zip
*.pass
*.sql
*.sh
*.pdf
*.xml
mysql/*
home/perazzo/teste.py
*.bak
*.pyc
home/perazzo/pesquisa/static/plots/*.png
cron.frequencia.sh
