#!/bin/bash
folder=/home/perazzo/Projetos/docker/pesquisa 
cd $folder
docker compose down
docker compose up -d
ssh sci01-ter-jne.ufca.edu.br '/backup/pesquisa/./backup.mysql.sh'
rsync -e 'ssh -p 22184' -avzh sci01-ter-jne.ufca.edu.br:/backup/pesquisa/home/perazzo/pesquisa/static/files/ $folder/home/perazzo/pesquisa/static/files/
rsync -e 'ssh -p 22184' -avzh sci01-ter-jne.ufca.edu.br:/backup/pesquisa/home/perazzo/pesquisa/docs_indicacoes/ $folder/home/perazzo/pesquisa/docs_indicacoes/
dir="/backup/pesquisa/share"
server="perazzo@sci01-ter-jne.ufca.edu.br"
arquivo=$(ssh sci01-ter-jne.ufca.edu.br 'ls -t /backup/pesquisa/share | head -1')
scp $server:$dir/$arquivo share/
gunzip -f share/$arquivo
arquivo=$(ls -t share | head -1)
/usr/bin/docker compose -f /home/perazzo/UFRPE/docker/projetos/pesquisa/docker-compose.yml exec -T db_pesquisa bash -c "mysql -u root -pSENHA < /share/$arquivo"
rm share/$arquivo
