#!/bin/sh
#SCRIPT CICD PARA ATUALIZAÇÕES AUTOMÁTICAS
now=$(date)
cd /backup/pesquisa
git fetch origin
# See if there are any incoming changes
OUTPUT=$(git log HEAD..origin/master --oneline)
if [ -z "$OUTPUT" ]
then
        echo "ATUALIZADO" > /dev/null
else
        git pull origin master
        echo "appPesquisa atualizado e testado com sucesso! ($now)" >> cicd.log
        docker-compose restart pesquisa
fi
