#!/bin/sh
now=$(date)
cd /backup/pesquisa
git fetch origin
# See if there are any incoming changes
OUTPUT=$(git log HEAD..origin/python3 --oneline)
if [ -z "$OUTPUT" ]
then
        echo "ATUALIZADO" > /dev/null
else
        git pull origin master
        echo "appPesquisa atualizado e testado com sucesso! ($now)" >> cicd.log
        docker-compose down
        docker-compose up -d
        enviar_email.sh "[YOKO PESQUISA] ATUALIZAÇÃO" "rafaelperazzo@gmail.com" "Yoko-Pesquisa atualizado com sucesso!"
fi