<!DOCTYPE html>
<html lang="en">

<head>
  {% block html_head %}
      <meta charset="utf-8">
      <title>{% block title %}{% endblock %} - DECLARAÇÃO</title>
  {% endblock %}
</head>

<body>
    <article></article>
    <div id="header">
    {% block header %}
        <center><img src="{{raiz}}{{ url_for('static', filename='brasao_uniao.png')}}" width="120" height="130" alt=""></center>
        <br><center>
        Ministério da Educação<BR>
        Universidade Federal do Cariri<BR>
        Pró-reitoria de Pesquisa, Pós-graduação e Inovação<BR></center>
          <hr>
    {% endblock %}
   </div>
<BR><BR><BR>
<center><h1>DECLARAÇÃO</h1></center><br>
<div id="content" align="justify">
{% block content %}{% endblock %}
<br><br>
</div>
{% block assinatura %}
    <br>
     <div align="right">
      Juazeiro do Norte, {{data}}
    </div>
    <br><br>
    <center><img src="{{raiz}}{{ url_for('static', filename='assinatura_laura.png')}}" width="254" height="49" alt=""></center>
    <center>___________________________________</center><br>
    <center>Claudener Souza Teixeira</center><br>
    <center>PRÓ-REITOR DE PESQUISA, PÓS-GRADUAÇÃO E INOVAÇÃO</center><br>
    <center>SIAPE: 1250782</center>
{% endblock %}
{% block footer %}
    <br><br><br><center><small><i><a href="http://prpi.ufca.edu.br">http://prpi.ufca.edu.br</a></i></small></center><br><br><br><br>
    <center><img src="{{raiz}}{{ url_for('static', filename='rodape.png')}}" width="100%" height="161" alt="" align="left"></center>
{% endblock %}

</body>

</html>
