<!doctype html>
<html lang="pt_BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="text/html; charset=UTF-8">
    <title>Yoko - Pesquisa</title>
    <link nonce="{{ csp_nonce() }}" rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.6-dist/css/bootstrap.min.css') }}">
    <script nonce="{{ csp_nonce() }}" src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script nonce="{{ csp_nonce() }}">
        function humano() {
        if (grecaptcha.getResponse() == ""){
            alert("Marque a caixa abaixo para continuar...");
            return (false);
        } else {
                //alert("Thank you");
            return (true);
            }
        }
    </script>

  </head>
  <body>
    
    {% block header %}
        <div class="container text-center">
        <div class="row">
            <div class="col">
            
            </div>
            <div class="col">
                <center><h1><a href="{{ url_for('home') }}">YOKO - PESQUISA</a></h1></center>
                <center>
                    <a href="https://rafaelperazzo.github.io/moduloPesquisaPRPI/" target="_blank">
                        <img src="https://img.shields.io/github/v/tag/rafaelperazzo/moduloPesquisaPRPI?label=Vers%C3%A3o" alt="Versão do Projeto">
                    </a>
                </center>
            </div>
            <div class="col">
                {% if session['username'] %}
                    <p class="text-end">{{ session['username'] }} - <a href="{{ url_for('encerrarSessao') }}">Sair</a></p>
                {% else %}
                    <p class="text-end">
                        <a href="{{ url_for('login') }}">Entrar</a>
                {% endif %}
            </div>
        </div>
        </div>
    {% endblock %}

    <hr>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,message in messages %}
                    {% if category=='error' %}
                        <div class="alert alert-danger" role="alert">
                    {% else %}
                        <div class="alert alert-success" role="alert">
                    {% endif %}
                            {{ message }}
                        </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
            <hr>
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                    
                    </div>
                    <div class="col">
                        <button class="btn btn-link" onclick="history.back()">Voltar</button>
                    </div>
                    <div class="col">
                        <figure class="text-end">
                            <blockquote class="blockquote">
                                <p>Yoko - Pesquisa</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                <a href="https://rafaelperazzo.github.io/moduloPesquisaPRPI/" target="_blank">
                                    <img src="https://img.shields.io/github/v/tag/rafaelperazzo/moduloPesquisaPRPI?label=%20&color=black" alt="Versão do Projeto">
                                </a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            
        {% endblock %}
    </div>    
    <script nonce="{{ csp_nonce() }}" src="{{ url_for('static',filename='bootstrap-5.3.6-dist/js/bootstrap.bundle.min.js') }}" ></script>
  </body>
</html>

