<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Confirmação de envio de projeto de pesquisa</title>
  </head>
  <body>
    <h1 style="text-align: center;"><b>CONFIRMAÇÃO DE SUBMISSÃO DE PROJETO</b></h1>

    <hr>
    <p><b>ID do projeto: </b>{{id_projeto}}<b><br>
      </b></p>
    <p><b>Nome</b>: {{proponente}}</p>
    <p><b>Titulo</b>: {{titulo_projeto}}</p>
    <p><b>Resumo</b>: {{resumo_projeto}}</p>
    <p><b>Pontuação lattes (preliminar - sujeito a mudanças)</b>:&nbsp;{{score}}</p>
    <hr>
    <p><h2>Detalhamento da pontuação do currículo lattes</h2>&nbsp;{{sumario|safe}}</p>
    <hr>
    <p><br>
    </p>
    <p>Um e-mail de confirmação foi enviado para: {{email_proponente}}</p>
    <p>Quaisquer dúvidas, enviar e-mail para atendimento.prpi@ufca.edu.br.</p>
    
    <p><br>
    </p>
    <p><br>
    </p>
  </body>
</html>
