<!DOCTYPE html>
<!-- https://github.com/cognitom/paper-css -->
<html lang="pt">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164056633-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-164056633-1');
  </script>
  <meta charset="utf-8">
  <title>DECLARAÇÃO</title>

  <!-- Normalize or reset CSS with your favorite library -->


  <!-- Load paper.css for happy printing -->
  <!--<link rel="stylesheet" href="{{ url_for('static', filename='paper.css')}}">-->

  <!-- Set page size here: A5, A4 or A3 -->
  <!-- Set also "landscape" if you need -->
  <!--<style>@page { size: A4 }</style>-->

</head>

<!-- Set "A5", "A4" or "A3" for class name -->
<!-- Set also "landscape" if you need -->
<!--<body class="A4">-->
<body>

  <!-- Each sheet element should have the class "sheet" -->
  <!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
  <!--<section class="sheet padding-10mm">-->

    <!-- Write HTML just like a web page -->
    <article></article>
    <center><img src="{{raiz}}{{ url_for('static', filename='brasao_uniao.png')}}" width="120" height="130" alt=""></center>
    <center>
    MINISTÉRIO DA EDUCAÇÃO<br>
    UNIVERSIDADE FEDERAL DO CARIRI<br>
    PRÓ-REITORIA DE PESQUISA, INOVAÇÃO E PÓS-GRADUAÇÃO<br>
    COORDENADORIA DE PESQUISA <br>
    </center>
<BR><BR><BR>
<center><h1>DECLARAÇÃO</h1></center><br>
<div align="justify">
Declaramos, para os devidos fins, que o(a) professor(a)<b> {{ texto[0] }}</b>,
SIAPE: <b>{{ texto[1] }}</b>,
{{texto[7]}} a função de <b>COORDENADOR DO PROJETO DE PESQUISA</b> 
intitulado <i>"{{texto[2]}}"</i>, no período de <b>{{texto[3]}} a {{texto[4]}}</b>, 
com orientação(a) do(a)(s) bolsista(s): <i>{{texto[5]}}</i> no 
Programa Institucional de Iniciação Científica e Tecnológica
(PIICT).
</div>
<br>
 <div align="right">
  Juazeiro do Norte, {{data}}
</div>
<br><br>
<center><img src="{{raiz}}{{ url_for('static', filename='assinatura_laura.png')}}" width="284" height="80" alt=""></center>
<center>___________________________________</center><br>
<center>Claudener Souza Teixeira</center><br>
<center>PRÓ-REITOR DE PESQUISA, PÓS-GRADUAÇÃO E INOVAÇÃO</center><br>
<center>SIAPE: 1250782</center>
<br><br><br><center><small><i>Código de Autenticação: {{ identificador }}. A autenticidade pode ser verificada em <a href="http://sites.ufca.edu.br/prpi/pesquisa/autenticacao-de-documentos/">http://prpi.ufca.edu.br</a></i></small></center><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer>
<hr>
<small><center>Rua Tenente Raimundo Rocha, 1639, Cidade Universitária, Juazeiro do Norte/CE – Tel: (88) 3221-9330 <br>
Site: www.ufca.edu.br -  E-mail: pesquisa.prpi@ufca.edu.br</center></small>
</footer>
  </section>

</body>

</html>
