<!DOCTYPE html>
<html>
  <head>
	  <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Declarações por Servidor</title>
  </head>
  <body>
    <h1><b>Declarações do Servidor</b></h1>
    *Caso sua declaração não esteja listada abaixo, favor entrar em contato com a Coordenadoria de Pesquisa/PRPI (atendimento.prpi@ufca.edu.br).
    <table>
    <th>Id</th><th>Servidor</th><th>Evento</th><th>Modalidade</th>
    <p>{% for linha in listaDeclaracoes %}</p>

    <tr>
    <td>{{ linha[0] }}</td><td>{{ linha[1] }}</td><td><pre><span class="cp"><a href="/pesquisa/declaracaoEvento?id={{ linha[0] }}">{{ linha[2] }}</a><br></span></pre></td><td>{{linha[3]}}</td>
    </tr>

    <p><span class="cp">{% endfor %}</span></p>


    </table>

  </body>
</html>
