<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>DECLARAÇÃO DE AVALIAÇÃO DE PROJETO DE PESQUISA</title>
  </head>
  <body>
    <h1 style="text-align: center;"><b>DECLARAÇÃO DE AVALIAÇÃO DE PROJETO DE PESQUISA</b></h1>
    <h2>{{nome_longo}}</h2>
    <hr>
      <p>
        Prezado(a) senhor(a) pesquisador(a),
      </p>
      <p>
            Segue o link da declaração de avaliação:<BR>
            <a href="{{url|safe}}" target="_blank">DECLARAÇÃO DE AVALIAÇÃO</a>
      </p>
      <hr>
      <CENTER><h3>ESTA MENSAGEM FOI ENVIADA AUTOMATICAMENTE. NÃO RESPONDA ESTE E-MAIL.</h3></CENTER>
      <hr>
    <p>Quaisquer dúvidas, enviar e-mail para atendimento.prpi@ufca.edu.br.</p>
    <h2 style="text-align: center;"><a href="https://prpi.ufca.edu.br">https://prpi.ufca.edu.br</a></h2>
    <p><br>
    </p>
    <p><br>
    </p>
  </body>
</html>
