{% extends "BASE_relatorio.html" %}

{% block title %}
Página administrativa
{% endblock %}

{% block content %}
<center><h1>Editais</h1></center>
<hr>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{message}}
      </div>
    {% endfor %}
    
  {% endif %}
{% endwith %}
<hr>
<center><a href="{{url_for('meusProjetos')}}">Ir para MeusProjetos</a></center>
<hr>
<center><a href="{{url_for('cadastrar_usuario')}}">Cadastrar novo usuário</a></center>
<hr>
<table>
  <th>Edital</th><th>Cadastrar Usuários</th><th>Lista de Bolsistas</th><th>Lista de Voluntários</th><th>Situação das indicações</th><th>Desligamentos e Substituições</TH><th>Estatísticas</th><th>Resultados</th>
    {% for edital in editais %}
        <tr>
            <td>{{edital[1]}} </td>
            <td><a href="/pesquisa/cadastrar_usuarios_projetos/{{edital[0]}}">Cadastrar</a></td>
            <td><a href="/pesquisa/indicacoes?edital={{edital[0]}}&tipo=1">BOLSISTAS</a></td>
            <td><a href="/pesquisa/indicacoes?edital={{edital[0]}}&tipo=0">VOLUNTÁRIOS</a></td>
            <td><a href="/pesquisa/situacaoIndicacoes?edital={{edital[0]}}">Situação das indicações</a></td>
            <td><a href="/pesquisa/substituicoes?id={{edital[0]}}">DESLIGAMENTO e SUBSTITUIÇÕES</a></td>
            <td><a href="/pesquisa/editalProjeto?edital={{edital[0]}}">Estatísticas</a></td>
            <td><a href="/pesquisa/aprovar/projetos/{{edital[0]}}">Atualizar Projetos</a></td>
            <td><a href="/pesquisa/editalProjeto?edital={{edital[0]}}&resultado=1">Resultados</a></td>
        </tr>
    {% endfor %}
</table>
<p><a href="/pesquisa/emailSolicitarAvaliacao">ENVIAR OS E-MAILs PARA OS AVALIADORES</a></p>
<p><a href="/pesquisa/cadastrar_usuario">CADASTRAR NOVO USUÁRIO</a></p>
<p><a href="{{url_for('ligar_scheduler')}}">Ligar Scheduler</a></p>
<p><a href="{{url_for('desligar_scheduler')}}">Desligar Scheduler</a></p>
{% endblock %}
