{% extends "BASE_v3.html" %}
{% block content %}
    <div class="container border shadow-none p-3 mb-5 bg-body-tertiary rounded">
        <center><h2>Autenticação</h2></center>
        <form action="/pesquisa/login" METHOD="POST" id="form">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="container">
            <label for="uname"><b>Usuário (siape)</b></label>
            <input type="text" class="form-control" placeholder="SIAPE: " name="siape" required>

            <label for="psw"><b>Senha</b></label>
            <input type="password" class="form-control" placeholder="Senha" name="senha" required>

            <button type="submit" class="btn btn-primary mb-3">Entrar</button>
          </div>
        </form>
        {% if config['producao']==1 %}
            <center><div class="g-recaptcha" data-sitekey="6LcTP7IrAAAAAEGXU_wjThN5GsBZ3mZCy67tzQyH"></div></center>
        {% endif %}
        <BR><center><a href="/pesquisa/esqueciMinhaSenha">Esqueci/Não Sei minha Senha</a></center>
    </div>
{% endblock %}
