<!DOCTYPE html>
<html>
  <head>
	  <style>
    div {
      background-color: lightgrey;
      width: 500px;
      border: 5px solid black;
      padding: 50px;
      margin: 20px;
    }
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Meus Pareceres</title>
  </head>
  <body>
    <h1><b>Meus Pareceres</b></h1>
    <hr>
    {% if total>0 %}
    <H3>{{titulo}}</h3>
    {% else %}
    Acesso negado e/ou Não existem avaliações disponíveis.
    {% endif %}
    <hr>
    {% for linha in linhas %}
      <h3>Parecer: {{linha[0]}}</h3>
      <table>
        <th>Item de Avaliação</th><th>Nota</th>
        <tr>
          <td>(A)Clareza na apresentação do tema e delimitação do problema <b>(Máximo 15 pontos)</b></td><td>{{linha[1]}}</td>
        </tr>
        <tr>
          <td>(B)Qualidade das referências bibliográficas utilizadas, considerando
atualização, relevância e adequação ao tema de pesquisa <b>(Máximo 10 pontos)</b></td><td>{{linha[2]}}</td>
        </tr>
        <tr>
          <td>(C)Clareza na definição dos objetivos e metas <b>(Máximo 10 pontos)</b></td><td>{{linha[3]}}</td>
        </tr>
        <tr>
          <td>(D)Originalidade e/ou relevância da pesquisa para o desenvolvimento
científico do país <b>(Máximo 20 pontos)</b></td><td>{{linha[4]}}</td>
        </tr>
        <tr>
          <td>(E)Adequação da metodologia e do cronograma de execução ao(s)
objetivo(s) proposto(s) <b>(Máximo 15 pontos)</b></td><td>{{linha[5]}}</td>
        </tr>
        <tr>
          <td>(F)Potencial de impacto dos resultados do ponto de vista
técnico-científico, difusão, socioeconômico, ambiental e cultural <b>(Máximo 15 pontos)</b></td><td>{{linha[6]}}</td>
        </tr>
        <tr>
          <td>(G)No caso de projetos de pesquisa: potencial de avanço científico do
projeto em relação à fronteira do conhecimento <b>(Máximo 15 pontos)</b></td><td>{{linha[7]}}</td>
        </tr>
      </table>
      <b>Total:</b> {{linha[8]}}<br>
      <b>Comentários:</b> <br> <div>{{linha[9]}} </div><br>
      <b>Recomendação:</b> {{linha[10]}}<br>
      <b>Comitê de ética:</b>
      {% if linha[11]==1 %}
      Necessário comitê de ética! <br>
      {% else %}
      Não foi recomendado envio para comitê de ética <br>
      {% endif %}
      <b>Projeto com potencial de desenvolvimento tecnológico e/ou processos de inovação?</b>
      {% if linha[13]==1 %}
      Sim <br>
      {% else %}
      Não<br>
      {% endif %}
      <b>Data da avaliação:</b> {{linha[12]}}<br>
      <hr>
    {% endfor %}

  </body>
</html>
