<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{{ titulo }}</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
  </head>
  <body>
    <center><img src="{{ url_for('static', filename='cabecalho.png')}}" width="100" height="150" alt=""></center>
    <center><b>Ministério da Educação<br>
            Universidade Federal do Cariri<br>
            Pró-reitoria de Pesquisa, Pós-graduação e Inovação</b></center><br><hr>
    <center><p><b><h1>RESULTADOS</b></h1></p></center>
    <br><center><i>{{ mensagem }}</i></center><br>
    <h3>Formulário de recurso: <a href="{{ recursos }}">CLIQUE AQUI</a></h3><br>
    <h3>Página com todas as informações sobre o edital: <a href="{{ link }}">CLIQUE AQUI</a></h3><br>
    <hr>
    <p><b><h2>{{ nomeEdital }}</h2></b></p>
    <h2>Total de projetos aprovados: {{ totalGeral }}</h2>
    <h2>Total de bolsas disponíveis: {{ bolsas }}</h2>

    <hr>
    <h2>Total de projetos novos: {{ projetosNovos }}</h2>
    <h2>Total de projetos em andamento: {{ projetosEmAndamento }}</h2>
    <h2>Total de avaliações requisitadas: {{ avaliacoes[3] }}</h2>
    <h2>Total de avaliações finalizadas: {{ avaliacoes[0] }} ({{ ((avaliacoes[0]/avaliacoes[3])*100)|round|int }}%)</h2>
    <h2>Total de avaliações sem resposta: {{ avaliacoes[1] }} ({{ ((avaliacoes[1]/avaliacoes[3])*100)|round|int }}%)</h2>
    <h2>Total de avaliações negadas: {{ avaliacoes[2] }} ({{ ((avaliacoes[2]/avaliacoes[3])*100)|round|int }}%)</h2>

    <hr>
    <table style="width:100%">
      <caption><h2>Demanda/Oferta</h2></caption>
      <tr>
        <th>Unidade Academica</th><th>Total de projetos aprovados</th><th>Total de bolsas concedidas</th>
      </tr>
      {% for linha in demanda %}
      <tr>
        <td>{{ linha[0] }}</td><td>{{ linha[1] }}</td><td>{{ linha[2] }}</td>
      </tr>
      {% endfor %}
    </table>

    <hr><br>
    <table style="width:100%">
      <caption><h2>Totais</h2></caption>
      <tr>
        <th>Unidade Academica</th><th>Bolsas Solicitadas</th><th>Bolsas Concedidas</th><th>Percentual de atendimento</th>
      </tr>
      {% for linha in somatorios %}
      <tr>
        <td>{{ linha[0] }}</td><td>{{ linha[1] }}</td><td>{{ linha[2] }}</td><td>{{ linha[3] }}%</td>
      </tr>
      {% endfor %}
    </table>

    <hr><br>
    <table style="width:100%">
      <caption><h2>Tempo de resposta das Avaliações por unidade academica (em dias)</h2></caption>
      <tr>
        <th>Unidade Academica</th><th>Média</th><th>Mínimo</th><th>Máximo</th>
      </tr>
      {% for linha in porUnidade %}
      <tr>
        <td>{{ linha[0] }}</td><td>{{ linha[1] }}</td><td>{{ linha[2] }}</td><td>{{ linha[3] }}</td>
      </tr>
      {% endfor %}
    </table>

    <hr><br>
    <table style="width:100%">
      <caption><h2>Tempo geral de resposta das Avaliações (em dias)</h2></caption>
      <tr>
        <th>Média</th><th>Mínimo</th><th>Máximo</th>
      </tr>
      {% for linha in porTotal %}
      <tr>
        <td>{{ linha[0] }}</td><td>{{ linha[1] }}</td><td>{{ linha[2] }}</td>
      </tr>
      {% endfor %}
    </table>

    <hr><br>
    <table style="width:100%">
      <caption><h2>{{ titulo }}</h2></caption>
      <tr>
        <th>Id do Projeto</th><th>Título</th><th>Unidade Academica</th><th>Proponente</th><th>Score Lattes</th><th>Bolsas Solicitadas</th><th>Bolsas Concedidas</th><th>Comentário</th>
      </tr>
      {% for linha in linhasResumo %}
      <tr>
        <td>{{ linha[1] }}</td><td>{{ linha[2] }}</td><td>{{ linha[3] }}</td><td>{{ linha[4] }}</td><td>{{ linha[5] }}</td><td>{{ linha[10] }}</td><td>{{ linha[11] }}</td><td>{{ linha[13] }}</td>
      </tr>
      {% endfor %}
    </table>

    <br>
     <div align="right">
      Juazeiro do Norte, {{data}}
    </div>
    <br><br>
  </body>
</html>
