{% extends "BASE_v3.html" %}
{% block content %}

<div class="container text-center">
  <div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Cadastrar Projeto de Pesquisa</h5>
                <p class="card-text">Submeter projeto para edital aberto</p>
                <a href="{{ url_for('cadastrarProjeto') }}">CADASTRAR PROJETO DE PESQUISA</a>
            </div>
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Meus Projetos</h5>
                <p class="card-text">Visualizar projetos submetidos, enviar frequências, gerar declarações, indicar, substituir ou desligar bolsista/voluntário</p>
                <a href="{{ url_for('meusProjetos') }}">MEUS PROJETOS</a>
            </div>
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Módulo gestor</h5>
                <p class="card-text">Gerenciar projetos submetidos</p>
                <a href="{{ url_for('admin') }}">MÓDULO GESTOR</a>
            </div>
        </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Declarações de discentes</h5>
                <p class="card-text">Buscar declarações de discentes bolsistas/voluntários</p>
                <a href="{{ url_for('get_projetos_discente') }}">BUSCAR PROJETOS DISCENTE</a>
            </div>
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Redefinição de senha</h5>
                <p class="card-text">Solicitar redefinição de senha esquecida</p>
                <a href="{{ url_for('esqueciMinhaSenha') }}">REDEFINIR SENHA DE ACESSO</a>
            </div>
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Solicitação de Cadastro</h5>
                <p class="card-text">Solicitar cadastro para utilização do sistema</p>
                Entrar em contato com o setor responsável informando nome completo, SIAPE e e-mail institucional.
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Scorelattes</h5>
                <p class="card-text">Calcular pontuação do currículo lattes</p>
                <a href="{{ url_for('calcularScorelattesFromID') }}"> Pontuação Lattes</a>
            </div>
        </div>
    </div>
    <div class="col">
        
    </div>
    <div class="col">
        
    </div>
  </div>

</div>

{% endblock %}